.fewpixelsdown {
padding-top: 20px;
padding-left: 10px;
}

.zerotrans {
 opacity: 0;   
}

.littleleft {
    padding-left: 10px;
}

.little {
margin-left: 60px;
margin-top: -30px;
width: 70%;
opacity: 1;
}

.little2 {
margin-left: 100px;
margin-top: 40px;
width: 130%;
}


.little3 {
margin-left: 105px;
padding-top: 20px;
width: 130%;
opacity: 1;
}



.yep {
    position: absolute;
    padding-left: 8px;
}

.eight {
    float:right;
    padding-top: 20px;
    padding-right: 80px;
    max-width:780px;
}


.fox {
    float:right;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    position: relative;
}


.fox2 {
    margin-right: -16px;
    float:right;
    right:0px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 70%;
    position: relative;
}



.map {
    float:right;
    padding-right: 50px;
    padding-top: 70px;
}

.four {
    position: relative;
    max-width: 340px;
}

.opacity {
    opacity: 0.95;
}

.opacity2 {
    opacity:0.98;
}


.totheright {
    padding-top: 15px;
    padding-left: 10px;
}

.foxindex {
    position: relative;
    float:right;
    height: 650px;
    margin-top: 100px;
    
}


.foxindexmobile {
    position: relative;
    float:right;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textdesktop {

    padding-top: 40px;
    width: 380px;
}

.textmobile {
    padding-top: 40px;
    width: 100%;
}


.news {
    height: 31px;
    width: 100%;
    color:#D5C4AA;
    opacity: 0.9;
}

.newsfont {
    font-size: 11px;
    font-weight: 500;
}

.greyfooterlink {
    text-decoration:none;
    color: #D5C4AA;
    opacity: 0.9;
}



  .pin-top {
    position: relative;
  }


  .pin-bottom {
    position: relative;
  }

  .pinned {
    position: fixed !important;
  }

.scrollspycss {
    margin-left: 85%;
    margin-top: 7%;
    position:fixed;
}

.menupictures {
    width: 100%;
}

.smallertext {
    font-size: 13px;
}

.notabutton {
    font-size: 12px;
    font-weight: 400;
}


.rightheight {
    height:100%;
}

.bar {
    position: fixed;
    z-index: 5;
    width: 100%;
    margin-left: 1360px;
    margin-top: 369px;
}

.bar:hover {
   opacity: 0;
}